body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(100deg,#f8dbf8 30%,#faf094 70%);
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}

#title {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#taskInput {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    background-color:rgb(244, 207, 244);
    color: black;
    cursor: pointer;
}
button:hover {
    background-color: rgb(245, 245, 166);
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}